/* --- CSS for the slide containers ---------------------- */

.titleSlideContainer {
    text-align: center;
    position: relative;
    margin-top: 18%;
    padding: 0px 10% 0px 10%;
}

.slideContainer {
    display: grid;
    grid-template-areas: 
        'headline headline'
        'left right';
    grid-gap: 40px;
    padding: 40px;
    grid-template-rows: auto 400px;
    grid-template-columns: 1fr 1fr;
}

/* --- CSS for elements in the title slide -------------- */

.title {
    border: 1px solid black;
    margin-bottom: 10px;
    font-size: 48pt;
    font: bold;
    padding: 20px 60px 20px 60px;
}

.byFrame {
    border: 1px solid black;
    font-size: x-large;
    padding: 20px;
}

/* --- CSS for elements in the other slides ------------- */

.slideContainer>.title {
    text-align: center;
    grid-area: headline;
    border: 1px solid black;
}

.leftFrame {
    grid-area: left;
    font-size: x-large;
    border: 1px solid black;
}

.rightFrame {
    grid-area: right;
    font-size: x-large;
    border: 1px solid black;
}

/* --- CSS for basic theme ---------------------- */

.basicTheme{
    font-family: "Times New Roman", Times, serif;
    color: black;
}

/* --- CSS for classic theme ---------------------- */
.classicTheme{
    background-color: #832724 !important;
    background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
    font-family: 'Fondamento', cursive;
    font:bold;
    color: white;
}

/* --- CSS for dark theme ---------------------- */
.darkTheme{
    background-color: #141414 !important;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
}
