/* --- CSS for the slide containers ---------------------- */

.allTypeContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    padding-top: 56.25%;
}

.titleSlideContainer {
    text-align: center;
    margin-top: 18%;
    padding: 0px 5% 0px 5%;
}

.slideContainer {
    display: grid;
    grid-template-areas: 
        'headline headline'
        'left right';
    grid-gap: 5%;
    padding: 5%;
    grid-template-rows: 8vw 28vw;
    grid-template-columns: 1fr 1fr;
}

/* --- CSS for elements in the title slide -------------- */

.title {
    overflow: hidden;
    position: relative;
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
    font-size: 48pt;
    padding: 20px 60px 20px 60px;
}

.byFrame {
    overflow: hidden;
    border: 1px solid black;
    font-size: x-large;
    padding: 20px;
}

/* --- CSS for elements in the other slides ------------- */

.slideContainer>.title {
    position: relative;
    text-align: center;
    grid-area: headline;
    margin: 0 auto;
    border: 1px solid black;
}

.leftFrame {
    overflow: hidden;
    grid-area: left;
    font-size: x-large;
    border: 1px solid black;
}

.leftFrame > img {
    width: 100%;
}

.rightFrame {
    overflow: hidden;
    grid-area: right;
    font-size: x-large;
    border: 1px solid black;
}

/* --- CSS for basic theme ---------------------- */

.basicTheme{
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

/* --- CSS for classic theme ---------------------- */
.classicTheme{
    /*
    background-color: #832724;
    background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
    */
    font-family: 'Fondamento', cursive;
    font:bold;
    color: white;
}

/* --- CSS for dark theme ---------------------- */
.darkTheme{
    /*background-color: #141414;*/
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
}
