body{
    background-color: #ebebeb;
}

/* ------------------------------- */
#textColorInp, #backgroundColorInp, #backgroundImgInp { 
    display: none; 
}

#toolBarDiv{
    width: 100%;
    min-height: 80px;
    max-height: 90px;
    position: relative;
    white-space: nowrap;
    display:table;
    table-layout:fixed
}

#toolBarDivWrapper{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    overflow: auto;
}

.toolBarCont{
    margin: auto;
    padding: 10px;
    display:table-cell;
    vertical-align:middle;
}


#underToolBarDiv{
    display: inline-grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: calc(79vw * 0.5625);
    grid-template-areas:
            "scroll slide";
}

.slideTools{
    width: 42px;
    margin-top: 10px;
    font-size: small;
    background-color: #ebebeb;
    height: 42px;
}

.slideTools> a {
    font-size: x-large;
    color:black;
    text-decoration: none;
    padding: 10px 10px;
}

/* ------------- */

#items{
    width: 135px;
    margin-top: 10px;
    font-size: small;
    background-color: #ebebeb;
    height: 42px;
}

#items> input {
    font-size: small;
    width: 180px;
}


/* ------------------------------- */

#underToolBarDiv {
    width: 100%;
    float: left;
}

/* ------------- */

#allSlidesPreviewCont{
    grid-area: scroll;
    float: left;
    margin: 5px;
    height: 100%;
    overflow: scroll;
}

.slidePreview{
    width: 95%;
    height: 22.7%;
}

.slidePreviewContent {
    width: 350%;
    position: relative;
    transform-origin: left top;
    transform: scale(0.25, 0.25);

}

.editSlidePreviewCont{
    width:100%;
    position: relative;
}

/* ------------- */

#editSlideCont{
    grid-area: slide;
    float: left;
    position: relative;
    margin: 10px;
    background-color: white;
}


