body{
    background-color: #ebebeb;
}

/* ------------------------------- */

#toolBarDiv{
    width: 100%;
    min-height: 80px;
    max-height: 90px;
    position: relative;
    background-color: white;
    white-space: nowrap;
    display:table;
    table-layout:fixed
}

#toolBarDivWrapper{
    overflow-x: auto;
}

.toolBarCont{
    margin: auto;
    padding: 10px;
    display:table-cell;
    vertical-align:middle;
}

#underToolBarDiv{
    display: inline-grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: calc(79vw * 0.5625);
    grid-template-areas:
            "scroll slide";
}
/* ------------------------------- */

.slideTools{
    width: 42px;
    margin-top: 10px;
    font-size: small;
    background-color: #ebebeb;
    height: 42px;
}

.slideTools> a {
    font-size: x-large;
    color:black;
    text-decoration: none;
    padding: 10px 10px;
}

/* ------------- */

#items{
    width:180px;
    margin-top: 10px;
    font-size: small;
    background-color: #ebebeb;
    height: 42px;
}

#items> button{
    font-size: small;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
}

#items> input {
    font-size: small;
    width: 180px;
}

/* ------------- */

#textEditTools{
    width: 640px;
    margin-top: 10px;
    font-size: small;
    background-color: #ebebeb;
    height: 42px;
}

#textEditTools> select{
    margin-right: 10px;
}

#textEditTools> button.nbi{
    font-size: small;
    border: none;
    border-bottom: 1px solid black;
    background-color: #ebebeb;
    width: 30px;
    padding: 10px;
}

#textEditTools> button.lcr{
    font-size: small;
    border: none;
    background-color: #ebebeb;
    width: 30px;
    padding: 5px;
}

#textEditTools> label{
    margin-left: 20px;
}

#textEditTools> input{
    background-color: #ebebeb;
    margin-right: 20px;
}

/* ------------- */

#typeOfSlides{
    width: 270px;
    margin-top: 10px;
    font-size: small;
    background-color: #ebebeb;
    height: 52px;
    padding: 5px;
}

#typeOfSlides> div{
    white-space: normal;
    background-color: white;
    text-align: center;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 75px;
    height: 52px;
    font-size: large
}

/* ------------- */

#setSlidebackgroundDiv{
    padding-top: 5px;
    margin-top: 10px;
    font-size: small;
    background-color: #ebebeb;
    width: 150px;
    height: 47px;
}

#setSlidebackgroundDiv> label{
    
    font-size: small;
}

#setSlidebackgroundDiv> input{
    background-color: #ebebeb;
}

#backgroundImgInp{
    width: 180px;
}

/* ------------- */

#navBtnsCont{
    padding-top: 10px;
    margin-top: 10px;
    font-size: small;
    background-color: #ebebeb;
    width: 120px;
    height: 42px;
}

#navBtnsCont> button{
    font-size: small;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
}      

/* ------------------------------- */

#underToolBarDiv {
    width: 100%;
    float: left;
}

/* ------------- */

#allSlidesPreviewCont{
    grid-area: scroll;
    float: left;
    margin: 5px;
    height: 100%;
    overflow: scroll;
}

.slidePreview{
    width: 95%;
    height: 22.7%;
}

.slidePreviewContent {
    width: 350%;
    position: relative;
    transform-origin: left top;
    transform: scale(0.25, 0.25);

}

.editSlidePreviewCont{
    width:100%;
    position: relative;
}

/* ------------- */

#editSlideCont{
    grid-area: slide;
    float: left;
    position: relative;
    margin: 10px;
    background-color: white;
}