/* Code for bar with new presentation, edit account and sign out */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3e3e3e;
}

ul>li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: black;
}

#newPresBtn {
    position: absolute;
    left:0px;
    text-decoration: none;
    font-size: large;
    border-radius: 5px;
    padding: 10px 10px;
    line-height: 1;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: flex;
    align-items: center;
}

#newPresBtn:hover{
    background-color: black;
}

.mainContent{
    margin-top: 2%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

h1{
    margin-bottom: 4%;
}

/* CSS for the presentations list */

.presFrame{
    margin-top: 10px;
    background-color: white;
    max-width: 1100px;
    min-height: 100px;
    text-align: left;
}

.presPreview{
    position: absolute;
    left: 0;
    background-color: white;
    border: 1px solid black;
    width: 141px;
    height: 80px;
}

.presInfoDiv{
    position: absolute;
    left: 150px;
}

.presFrame> div{
    margin: 10px;
}

.toolBtnDiv{
    position: absolute;
    right: 0;
}

div> a{
    background-color: #2f71e3;
    color: #ebebeb;
    padding: 10px;
    border: 1px;
    border-radius: 10px;
    font-size: small;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
}

.themeFrame {
    border: 1px solid black;
    background-color: white;
    float: left;
    margin-right: 20px;
    font-size: x-large;
    text-align: center;
    display: block;

}
.theme {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 185px;
  }
  
  .theme:hover {
    border: 1px solid black;
  }
  .themeChoosen{
    box-shadow: 0 0 15px rgba(33,33,33,.4); 
  }
  
  .theme img {
    width: 185px;
    height: auto;
  }

.modal-content>button {
    float: left;
    margin-top: 10px;
}

.modal-content {
    height: 250px;
}

.modal-content.delModal {
    max-width: 700px;
    height: 200px;
}