/* --- CSS for basic theme ---------------------- */
.basicTheme{
    font-family: "Times New Roman", Times, serif;
    color: black;
}

/* --- CSS for classic theme ---------------------- */
.classicTheme{
    background-color: #832724;
    font-family: 'Fondamento', cursive;
    font:bold;
    color: white;
}

/* --- CSS for dark theme ---------------------- */
.darkTheme{
    background-color: #141414;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
}