body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

button.blueBtn{
    border: 1px;
    border-radius: 15px;
    background-color: #2f71e3;
    color: white;
    font-size: small;
    padding: 5px 10px;
}

input{
    font-size: small;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgb(141, 141, 141);
}