body {
    background-color: black;
}

#slideFrame{
    border: 1px solid black;
    width: 1920px;
    height: 1080px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    background-color: #3e3e3e;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    
}

button {
    background-color: #3e3e3e;
    color: white;
    padding: 10px;
    border: none;
    font-size: large;
}

.left{
    float: left;
}

.right {
    float: right;
    margin-right: 20px;
}
