body {
    background-color: black;
    overflow: hidden;
}

#slideFrame{
    border: 1px solid black;
    width: 90%;
    height: calc(90vw * 0.5625);
    background-color: white;
    margin: calc(5vw * 0.5625) auto;
}

#navbar {
    position: absolute;
    top: 0;
    background-color: #3e3e3e;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.hiddenNavBar{
    height: 1px;
    overflow: hidden;
    -webkit-transition:width .05s linear;
    transition:height 0.05s linear;
}

#navbar:hover {
    overflow:visible;
    height: 40px;
}

button {
    background-color: #3e3e3e;
    color: white;
    padding: 10px;
    border: none;
    font-size: large;
}

.left{
    float: left;
}

.right {
    float: right;
    margin-right: 20px;
}

.borderless {
    border: none !important;
}
